html {
  font-size: 62.5% ;
  width: 100x ;
  margin: auto;
}

nav {
  font-size: 1.9rem;
  padding: 2rem;
  text-align: center;
  margin: 0 auto;
}

h1{
  font-size: 4rem;
  display: inline-block;
  text-align: center;
}

a.plan{
  background-color: #FF764E;
}

a.lean{
  background-color: #5ED3EB;
}

a.get {
  background-color: #FFCD69;
}

 img.canyon {
  display: block;
  border-radius: 50%;
  width: 120px;
}