
html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
border: 0;  
font-size: 100%;  
font: inherit;  
vertical-align: baseline;  
}


html {
  font-size: 62.5% ;
  margin: 0 auto;
}

nav {
  font-family: 'Roboto Mono', monospace;
  font-size: 1.9rem;
  text-align: center;
  margin: 2rem;
}

a:link {
  text-decoration: none;
  border-radius: 2rem;
  color: white;
  display: inline-block;
  margin-left: 7%;
  padding: .7rem;
}

a:hover{
  color: black;
}

a.plan{
  background-color: #FF764E;
}

a.lean{
  background-color: #5ED3EB;
}

a.get {
  background-color: #FFCD69;
}

header{
  display: inline-block;
  align-items: center;
  padding: 5vh;
}

h1{
  font-family: 'Chelsea Market', cursive;
  font-size: 4rem;
  display: inline-block;
  text-align: center;
  padding-bottom: 1.9rem;
}


img.canyon {
  vertical-align: middle;
  border-radius: 50%;
  width: 20rem;
}

.open-statement {
  font-family: 'Roboto Mono', monospace;
  font-size: 2rem;
  text-align: center;
  display: inline-block;
  padding: 1rem;
  
}

.open-statement img{
  display: inline-block;
  width:20%;
}

.open-statement div{
  display: inline-block;
  width: 70%;
}

.about-statement{
  font-family: 'Roboto Mono', monospace;
  font-size: 2rem;
  background: #DDB9A3;
  color: white;
  text-align: center;
  width: 95rem;
  margin: auto;
}

.facts-info img{
  vertical-align: 50%;
  width: 20%;
}

.facts-info{
  margin: auto;
  text-align: center;
  font-family: 'Roboto Mono', monospace;

}

.facts-info img{
  width: 20%;
  padding: 5vh;
}

.facts-info p{
  font-size: 2rem;
  width: 50%;
  margin: 0 auto;
  padding-bottom: 10vh;
}

footer{
  background-color: #F9E7DC;
  margin-left: auto;
  margin-right: auto;
}

#footerimg {
  width: 100%;
  height: 50vh;
}